In [14]:
import pandas as pd
import numpy as np

In [84]:
import datetime
import calendar
from datetime import timedelta  
pd.options.display.float_format = '{:.5f}'.format

In [16]:
year = 2021
month = 5

In [17]:
set_day = datetime.date(year,month,1)

In [18]:
start_date = 1
end_date = calendar.monthrange(year, month)[1]

In [19]:
def create_date_table3(start='1990-01-01', end='2080-12-31'):
   df = pd.DataFrame({"date": pd.date_range(start, end)})
   df["week_day"] = df.date.dt.day_name()
   df["day"] = df.date.dt.day
   df["month"] = df.date.dt.month
   df["week"] = df.date.dt.isocalendar().week
   df["quarter"] = df.date.dt.quarter
   df["year"] = df.date.dt.year
   df.insert(0, 'date_id', (df.year.astype(str) + df.month.astype(str).str.zfill(2) + df.day.astype(str).str.zfill(2)).astype(int))
   return df

In [20]:
raw_df = create_date_table3('{0}-{1}-{2}'.format(year, month, start_date), '{0}-{1}-{2}'.format(year, month, end_date))
raw_df

     date_id       date   week_day  day  month  week  quarter  year
0   20210501 2021-05-01   Saturday    1      5    17        2  2021
1   20210502 2021-05-02     Sunday    2      5    17        2  2021
2   20210503 2021-05-03     Monday    3      5    18        2  2021
3   20210504 2021-05-04    Tuesday    4      5    18        2  2021
4   20210505 2021-05-05  Wednesday    5      5    18        2  2021
5   20210506 2021-05-06   Thursday    6      5    18        2  2021
6   20210507 2021-05-07     Friday    7      5    18        2  2021
7   20210508 2021-05-08   Saturday    8      5    18        2  2021
8   20210509 2021-05-09     Sunday    9      5    18        2  2021
9   20210510 2021-05-10     Monday   10      5    19        2  2021
10  20210511 2021-05-11    Tuesday   11      5    19        2  2021
11  20210512 2021-05-12  Wednesday   12      5    19        2  2021
12  20210513 2021-05-13   Thursday   13      5    19        2  2021
13  20210514 2021-05-14     Friday   14      5    19        2  2021
14  20210515 2021-05-15   Saturday   15      5    19        2  2021
15  20210516 2021-05-16     Sunday   16      5    19        2  2021
16  20210517 2021-05-17     Monday   17      5    20        2  2021
17  20210518 2021-05-18    Tuesday   18      5    20        2  2021
18  20210519 2021-05-19  Wednesday   19      5    20        2  2021
19  20210520 2021-05-20   Thursday   20      5    20        2  2021
20  20210521 2021-05-21     Friday   21      5    20        2  2021
21  20210522 2021-05-22   Saturday   22      5    20        2  2021
22  20210523 2021-05-23     Sunday   23      5    20        2  2021
23  20210524 2021-05-24     Monday   24      5    21        2  2021
24  20210525 2021-05-25    Tuesday   25      5    21        2  2021
25  20210526 2021-05-26  Wednesday   26      5    21        2  2021
26  20210527 2021-05-27   Thursday   27      5    21        2  2021
27  20210528 2021-05-28     Friday   28      5    21        2  2021
28  20210529 2021-05-29   Saturday   29      5    21        2  2021
29  20210530 2021-05-30     Sunday   30      5    21        2  2021
30  20210531 2021-05-31     Monday   31      5    22        2  2021

In [21]:
flag_min = 7-len(raw_df[raw_df['week'] == raw_df['week'].min()])
flag_min

5

In [22]:
flag_max = 7-len(raw_df[raw_df['week'] == raw_df['week'].max()])
flag_max

6

In [23]:
start_d = datetime.date(year,month,1)
end_d = datetime.date(year, month, calendar.monthrange(year, month)[1])

In [24]:
if flag_min > 0:
    start_d = start_d - timedelta(days=flag_min)
if flag_max > 0:
    end_d = end_d + timedelta(days=flag_max)

In [25]:
dum_df = create_date_table3('{0}-{1}-{2}'.format(start_d.year, start_d.month, start_d.day), 
                        '{0}-{1}-{2}'.format(end_d.year, end_d.month, end_d.day))
dum_df

     date_id       date   week_day  day  month  week  quarter  year
0   20210426 2021-04-26     Monday   26      4    17        2  2021
1   20210427 2021-04-27    Tuesday   27      4    17        2  2021
2   20210428 2021-04-28  Wednesday   28      4    17        2  2021
3   20210429 2021-04-29   Thursday   29      4    17        2  2021
4   20210430 2021-04-30     Friday   30      4    17        2  2021
5   20210501 2021-05-01   Saturday    1      5    17        2  2021
6   20210502 2021-05-02     Sunday    2      5    17        2  2021
7   20210503 2021-05-03     Monday    3      5    18        2  2021
8   20210504 2021-05-04    Tuesday    4      5    18        2  2021
9   20210505 2021-05-05  Wednesday    5      5    18        2  2021
10  20210506 2021-05-06   Thursday    6      5    18        2  2021
11  20210507 2021-05-07     Friday    7      5    18        2  2021
12  20210508 2021-05-08   Saturday    8      5    18        2  2021
13  20210509 2021-05-09     Sunday    9      5    18        2  2021
14  20210510 2021-05-10     Monday   10      5    19        2  2021
15  20210511 2021-05-11    Tuesday   11      5    19        2  2021
16  20210512 2021-05-12  Wednesday   12      5    19        2  2021
17  20210513 2021-05-13   Thursday   13      5    19        2  2021
18  20210514 2021-05-14     Friday   14      5    19        2  2021
19  20210515 2021-05-15   Saturday   15      5    19        2  2021
20  20210516 2021-05-16     Sunday   16      5    19        2  2021
21  20210517 2021-05-17     Monday   17      5    20        2  2021
22  20210518 2021-05-18    Tuesday   18      5    20        2  2021
23  20210519 2021-05-19  Wednesday   19      5    20        2  2021
24  20210520 2021-05-20   Thursday   20      5    20        2  2021
25  20210521 2021-05-21     Friday   21      5    20        2  2021
26  20210522 2021-05-22   Saturday   22      5    20        2  2021
27  20210523 2021-05-23     Sunday   23      5    20        2  2021
28  20210524 2021-05-24     Monday   24      5    21        2  2021
29  20210525 2021-05-25    Tuesday   25      5    21        2  2021
30  20210526 2021-05-26  Wednesday   26      5    21        2  2021
31  20210527 2021-05-27   Thursday   27      5    21        2  2021
32  20210528 2021-05-28     Friday   28      5    21        2  2021
33  20210529 2021-05-29   Saturday   29      5    21        2  2021
34  20210530 2021-05-30     Sunday   30      5    21        2  2021
35  20210531 2021-05-31     Monday   31      5    22        2  2021
36  20210601 2021-06-01    Tuesday    1      6    22        2  2021
37  20210602 2021-06-02  Wednesday    2      6    22        2  2021
38  20210603 2021-06-03   Thursday    3      6    22        2  2021
39  20210604 2021-06-04     Friday    4      6    22        2  2021
40  20210605 2021-06-05   Saturday    5      6    22        2  2021
41  20210606 2021-06-06     Sunday    6      6    22        2  2021

In [26]:
dum_df['week'].value_counts()

17    7
18    7
19    7
20    7
21    7
22    7
Name: week, dtype: Int64

In [27]:
if dum_df['week'].nunique() > 5:
    dum_df = dum_df[7:]
    dum_df = dum_df.reset_index(drop=True)

In [28]:
len(dum_df)

35

In [29]:
dum_df['week'].value_counts()

18    7
19    7
20    7
21    7
22    7
Name: week, dtype: Int64

In [30]:
dum_df = dum_df[['year', 'month', 'week', 'day', 'week_day']]

In [34]:
dum_df

    year  month  week  day   week_day
0   2021      5    18    3     Monday
1   2021      5    18    4    Tuesday
2   2021      5    18    5  Wednesday
3   2021      5    18    6   Thursday
4   2021      5    18    7     Friday
5   2021      5    18    8   Saturday
6   2021      5    18    9     Sunday
7   2021      5    19   10     Monday
8   2021      5    19   11    Tuesday
9   2021      5    19   12  Wednesday
10  2021      5    19   13   Thursday
11  2021      5    19   14     Friday
12  2021      5    19   15   Saturday
13  2021      5    19   16     Sunday
14  2021      5    20   17     Monday
15  2021      5    20   18    Tuesday
16  2021      5    20   19  Wednesday
17  2021      5    20   20   Thursday
18  2021      5    20   21     Friday
19  2021      5    20   22   Saturday
20  2021      5    20   23     Sunday
21  2021      5    21   24     Monday
22  2021      5    21   25    Tuesday
23  2021      5    21   26  Wednesday
24  2021      5    21   27   Thursday
25  2021      5    21   28     Friday
26  2021      5    21   29   Saturday
27  2021      5    21   30     Sunday
28  2021      5    22   31     Monday
29  2021      6    22    1    Tuesday
30  2021      6    22    2  Wednesday
31  2021      6    22    3   Thursday
32  2021      6    22    4     Friday
33  2021      6    22    5   Saturday
34  2021      6    22    6     Sunday

In [35]:
week1 = dum_df[:7].T
week2 = dum_df[7:14].T
week3 = dum_df[14:21].T
week4 = dum_df[21:28].T
week5 = dum_df[28:].T

In [36]:
week1

               0        1          2         3       4         5       6
year        2021     2021       2021      2021    2021      2021    2021
month          5        5          5         5       5         5       5
week          18       18         18        18      18        18      18
day            3        4          5         6       7         8       9
week_day  Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday

In [37]:
sch_df = pd.read_csv('./schedule_template.csv', encoding = 'CP949')
sch_df

   Unnamed: 0
0         day  NaN  NaN    1    2    3    4    5
1
2              NaN  NaN  NaN  NaN  NaN
3                    NaN  NaN  NaN  NaN
4           NaN  NaN  NaN        NaN  NaN
5           NaN  NaN        NaN  NaN  NaN
6           NaN     NaN  NaN     NaN  NaN
7           NaN     NaN  NaN  NaN     NaN
8              NaN  NaN  NaN  NaN     NaN
9         day    6    7    8    9   10   11   12
10
11          NaN  NaN     NaN     NaN  NaN
12             NaN  NaN     NaN  NaN  NaN
13          NaN     NaN  NaN     NaN  NaN
14          NaN  NaN  NaN     NaN  NaN
15             NaN     NaN  NaN  NaN  NaN
16          NaN     NaN  NaN  NaN     NaN
17                NaN  NaN  NaN     NaN
18        day   13   14   15   16   17   18   19
19
20          NaN  NaN     NaN  NaN     NaN
21          NaN  NaN  NaN        NaN  NaN
22          NaN        NaN  NaN  NaN  NaN
23          NaN     NaN  NaN     NaN  NaN
24             NaN  NaN     NaN  NaN  NaN
25          NaN  NaN     NaN  NaN
26             NaN  NaN  NaN  NaN  NaN
27        day   20   21   22   23   24   25   26
28
29          NaN  NaN  NaN        NaN  NaN
30          NaN  NaN  NaN        NaN  NaN
31          NaN        NaN  NaN  NaN  NaN
32          NaN  NaN     NaN  NaN  NaN
33                NaN  NaN     NaN  NaN
34             NaN  NaN     NaN  NaN  NaN
35             NaN  NaN  NaN  NaN     NaN
36        day   27   28   29   30   31  NaN  NaN
37
38          NaN  NaN  NaN  NaN  NaN     NaN
39             NaN     NaN     NaN  NaN
40          NaN     NaN  NaN  NaN     NaN
41             NaN  NaN     NaN  NaN
42                   NaN  NaN  NaN  NaN
43          NaN  NaN  NaN  NaN     NaN  NaN
44          NaN  NaN        NaN  NaN  NaN

In [38]:
week1 = sch_df[:9].reset_index(drop=True)
week2 = sch_df[9:18].reset_index(drop=True)
week3 = sch_df[18:27].reset_index(drop=True)
week4 = sch_df[27:36].reset_index(drop=True)
week5 = sch_df[36:].reset_index(drop=True)

In [39]:
header_row = 0

In [40]:
week1.columns = week1.iloc[header_row]
week1 = week1.drop(0, axis = 0)
week1 = week1.reset_index(drop=True)
week1 = week1.set_index('day')

In [41]:
week2.columns = week2.iloc[header_row]
week2 = week2.drop(header_row, axis = 0)
week2 = week2.reset_index(drop=True)
week2 = week2.set_index('day')

In [42]:
week3.columns = week3.iloc[header_row]
week3 = week3.drop(header_row, axis = 0)
week3 = week3.reset_index(drop=True)
week3 = week3.set_index('day')

In [43]:
week4.columns = week4.iloc[header_row]
week4 = week4.drop(header_row, axis = 0)
week4 = week4.reset_index(drop=True)
week4 = week4.set_index('day')

In [44]:
week5.columns = week5.iloc[header_row]
week5 = week5.drop(header_row, axis = 0)
week5 = week5.reset_index(drop=True)
week5 = week5.set_index('day')

In [45]:
weekday1 = week1.T
weekday2 = week2.T
weekday3 = week3.T
weekday4 = week4.T
weekday5 = week5.T

In [57]:
sch_df

   Unnamed: 0
0         day  NaN  NaN    1    2    3    4    5
1
2              NaN  NaN  NaN  NaN  NaN
3                    NaN  NaN  NaN  NaN
4           NaN  NaN  NaN        NaN  NaN
5           NaN  NaN        NaN  NaN  NaN
6           NaN     NaN  NaN     NaN  NaN
7           NaN     NaN  NaN  NaN     NaN
8              NaN  NaN  NaN  NaN     NaN
9         day    6    7    8    9   10   11   12
10
11          NaN  NaN     NaN     NaN  NaN
12             NaN  NaN     NaN  NaN  NaN
13          NaN     NaN  NaN     NaN  NaN
14          NaN  NaN  NaN     NaN  NaN
15             NaN     NaN  NaN  NaN  NaN
16          NaN     NaN  NaN  NaN     NaN
17                NaN  NaN  NaN     NaN
18        day   13   14   15   16   17   18   19
19
20          NaN  NaN     NaN  NaN     NaN
21          NaN  NaN  NaN        NaN  NaN
22          NaN        NaN  NaN  NaN  NaN
23          NaN     NaN  NaN     NaN  NaN
24             NaN  NaN     NaN  NaN  NaN
25          NaN  NaN     NaN  NaN
26             NaN  NaN  NaN  NaN  NaN
27        day   20   21   22   23   24   25   26
28
29          NaN  NaN  NaN        NaN  NaN
30          NaN  NaN  NaN        NaN  NaN
31          NaN        NaN  NaN  NaN  NaN
32          NaN  NaN     NaN  NaN  NaN
33                NaN  NaN     NaN  NaN
34             NaN  NaN     NaN  NaN  NaN
35             NaN  NaN  NaN  NaN     NaN
36        day   27   28   29   30   31  NaN  NaN
37
38          NaN  NaN  NaN  NaN  NaN     NaN
39             NaN     NaN     NaN  NaN
40          NaN     NaN  NaN  NaN     NaN
41             NaN  NaN     NaN  NaN
42                   NaN  NaN  NaN  NaN
43          NaN  NaN  NaN  NaN     NaN  NaN
44          NaN  NaN        NaN  NaN  NaN

In [73]:
import math

In [47]:
work_list = ['d','m','a','n','h']

for i in range(len(sch_df)):
    for j in range(len(sch_df.T)):
        for k in work_list:
            if math.isnan(sch_df.iloc[i][j]):
                sch_df.iloc[i][j] ==

'day'

In [66]:
sch_df.iloc[0][1] == np.nan

False

In [ ]:
def holiday(x0,x1,x2,x3,x4,x5,x6):
    cnt = 0
    if x0 == '':cnt += 1
    if x1 == '':cnt += 1
    if x2 == '':cnt += 1
    if x3 == '':cnt += 1
    if x4 == '':cnt += 1
    if x5 == '':cnt += 1
    if x6 == '':cnt += 1
    return cnt

In [ ]:
week1

In [ ]:
week1['holiday'] = week1.apply(lambda x: holiday(x[0],x[1],x[2],x[3],x[4],x[5],x[6]), axis = 1)
week1

##### holiday check

In [ ]:
chk_df.holiday.sum()

In [ ]:
# 17    
# if chk_df.holiday.sum() != 17:
#     need_holiday = 17-chk_df.holiday.sum()

##### type

In [ ]:
weekday1

In [ ]:
def holiday2(x0,x1,x2,x3,x4,x5,x6,x7):
    cnt = 0
    if x0 == '':cnt += 1
    if x1 == '':cnt += 1
    if x2 == '':cnt += 1
    if x3 == '':cnt += 1
    if x4 == '':cnt += 1
    if x5 == '':cnt += 1
    if x6 == '':cnt += 1
    if x7 == '':cnt += 1
    return cnt

In [ ]:
weekday1['holiday'] = weekday1.apply(lambda x: holiday2(x[0],x[1],x[2],x[3],x[4],x[5],x[6], x[7]), axis = 1)
weekday1

In [ ]:
holiday_map = {3:'a', 2:'b'}

weekday1['type'] = weekday1['holiday'].map(holiday_map)
weekday1

In [ ]:
# a 3, b 4

In [ ]:
day_map = {'a': 2, 'b': 1}
morning_map = {'a': 1, 'b': 2}
afternoon_map = {'a': 0, 'b': 1}

weekday1['day'] = weekday1['type'].map(day_map)
weekday1['morning'] = weekday1['type'].map(morning_map)
weekday1['afternoon'] = weekday1['type'].map(afternoon_map)
weekday1['night'] = 2
weekday1

In [ ]:
#   
#     2 
def rule1(x0,x1,x2,x3,x4,x5,x6,x7):
    cnt = 0
    if x0 == '':cnt += 1
    if x1 == '':cnt += 1
    if x2 == '':cnt += 1
    if x3 == '':cnt += 1
    if x4 == '':cnt += 1
    if x5 == '':cnt += 1
    if x6 == '':cnt += 1
    if x7 == '':cnt += 1
    return cnt

In [ ]:
def day(x1,x2,x3,x4,x5,x6,x7):
    cnt = 0
    if x1 == '':
        cnt += 1
    if x2 == '':
        cnt += 1
    if x3 == '':
        cnt += 1
    if x4 == '':
        cnt += 1
    if x5 == '':
        cnt += 1
    if x6 == '':
        cnt += 1
    if x7 == '':
        cnt += 1
    return cnt

In [ ]:
def morning(x1,x2,x3,x4,x5,x6,x7):
    cnt = 0
    if x1 == '':
        cnt += 1
    if x2 == '':
        cnt += 1
    if x3 == '':
        cnt += 1
    if x4 == '':
        cnt += 1
    if x5 == '':
        cnt += 1
    if x6 == '':
        cnt += 1
    if x7 == '':
        cnt += 1
    return cnt

In [ ]:
def afternoon(x1,x2,x3,x4,x5,x6,x7):
    cnt = 0
    if x1 == '':
        cnt += 1
    if x2 == '':
        cnt += 1
    if x3 == '':
        cnt += 1
    if x4 == '':
        cnt += 1
    if x5 == '':
        cnt += 1
    if x6 == '':
        cnt += 1
    if x7 == '':
        cnt += 1
    return cnt

In [ ]:
def night(x1,x2,x3,x4,x5,x6,x7):
    cnt = 0
    if x1 == '':
        cnt += 1
    if x2 == '':
        cnt += 1
    if x3 == '':
        cnt += 1
    if x4 == '':
        cnt += 1
    if x5 == '':
        cnt += 1
    if x6 == '':
        cnt += 1
    if x7 == '':
        cnt += 1
    return cnt