In [170]:
import pandas as pd
import numpy as np

In [171]:
import datetime
import calendar
from datetime import timedelta

In [172]:
year = 2021
month = 5

In [173]:
set_day = datetime.date(year,month,1)

In [174]:
start_date = 1
end_date = calendar.monthrange(year, month)[1]

In [175]:
def create_date_table3(start='1990-01-01', end='2080-12-31'):
   df = pd.DataFrame({"date": pd.date_range(start, end)})
   df["week_day"] = df.date.dt.day_name()
   df["day"] = df.date.dt.day
   df["month"] = df.date.dt.month
   df["week"] = df.date.dt.isocalendar().week
   df["quarter"] = df.date.dt.quarter
   df["year"] = df.date.dt.year
   df.insert(0, 'date_id', (df.year.astype(str) + df.month.astype(str).str.zfill(2) + df.day.astype(str).str.zfill(2)).astype(int))
   return df

In [176]:
raw_df = create_date_table3('{0}-{1}-{2}'.format(year, month, start_date), '{0}-{1}-{2}'.format(year, month, end_date))
raw_df

     date_id       date   week_day  day  month  week  quarter  year
0   20210501 2021-05-01   Saturday    1      5    17        2  2021
1   20210502 2021-05-02     Sunday    2      5    17        2  2021
2   20210503 2021-05-03     Monday    3      5    18        2  2021
3   20210504 2021-05-04    Tuesday    4      5    18        2  2021
4   20210505 2021-05-05  Wednesday    5      5    18        2  2021
5   20210506 2021-05-06   Thursday    6      5    18        2  2021
6   20210507 2021-05-07     Friday    7      5    18        2  2021
7   20210508 2021-05-08   Saturday    8      5    18        2  2021
8   20210509 2021-05-09     Sunday    9      5    18        2  2021
9   20210510 2021-05-10     Monday   10      5    19        2  2021
10  20210511 2021-05-11    Tuesday   11      5    19        2  2021
11  20210512 2021-05-12  Wednesday   12      5    19        2  2021
12  20210513 2021-05-13   Thursday   13      5    19        2  2021
13  20210514 2021-05-14     Friday   14      5    19        2  2021
14  20210515 2021-05-15   Saturday   15      5    19        2  2021
15  20210516 2021-05-16     Sunday   16      5    19        2  2021
16  20210517 2021-05-17     Monday   17      5    20        2  2021
17  20210518 2021-05-18    Tuesday   18      5    20        2  2021
18  20210519 2021-05-19  Wednesday   19      5    20        2  2021
19  20210520 2021-05-20   Thursday   20      5    20        2  2021
20  20210521 2021-05-21     Friday   21      5    20        2  2021
21  20210522 2021-05-22   Saturday   22      5    20        2  2021
22  20210523 2021-05-23     Sunday   23      5    20        2  2021
23  20210524 2021-05-24     Monday   24      5    21        2  2021
24  20210525 2021-05-25    Tuesday   25      5    21        2  2021
25  20210526 2021-05-26  Wednesday   26      5    21        2  2021
26  20210527 2021-05-27   Thursday   27      5    21        2  2021
27  20210528 2021-05-28     Friday   28      5    21        2  2021
28  20210529 2021-05-29   Saturday   29      5    21        2  2021
29  20210530 2021-05-30     Sunday   30      5    21        2  2021
30  20210531 2021-05-31     Monday   31      5    22        2  2021

In [179]:
flag_min = 7-len(raw_df[raw_df['week'] == raw_df['week'].min()])
flag_min

5

In [180]:
flag_max = 7-len(raw_df[raw_df['week'] == raw_df['week'].max()])
flag_max

6

In [181]:
start_d = datetime.date(year,month,1)
end_d = datetime.date(year, month, calendar.monthrange(year, month)[1])

In [182]:
if flag_min > 0:
    start_d = start_d - timedelta(days=flag_min)
if flag_max > 0:
    end_d = end_d + timedelta(days=flag_max)

In [183]:
dum_df = create_date_table3('{0}-{1}-{2}'.format(start_d.year, start_d.month, start_d.day), 
                        '{0}-{1}-{2}'.format(end_d.year, end_d.month, end_d.day))
dum_df

     date_id       date   week_day  day  month  week  quarter  year
0   20210426 2021-04-26     Monday   26      4    17        2  2021
1   20210427 2021-04-27    Tuesday   27      4    17        2  2021
2   20210428 2021-04-28  Wednesday   28      4    17        2  2021
3   20210429 2021-04-29   Thursday   29      4    17        2  2021
4   20210430 2021-04-30     Friday   30      4    17        2  2021
5   20210501 2021-05-01   Saturday    1      5    17        2  2021
6   20210502 2021-05-02     Sunday    2      5    17        2  2021
7   20210503 2021-05-03     Monday    3      5    18        2  2021
8   20210504 2021-05-04    Tuesday    4      5    18        2  2021
9   20210505 2021-05-05  Wednesday    5      5    18        2  2021
10  20210506 2021-05-06   Thursday    6      5    18        2  2021
11  20210507 2021-05-07     Friday    7      5    18        2  2021
12  20210508 2021-05-08   Saturday    8      5    18        2  2021
13  20210509 2021-05-09     Sunday    9      5    18        2  2021
14  20210510 2021-05-10     Monday   10      5    19        2  2021
15  20210511 2021-05-11    Tuesday   11      5    19        2  2021
16  20210512 2021-05-12  Wednesday   12      5    19        2  2021
17  20210513 2021-05-13   Thursday   13      5    19        2  2021
18  20210514 2021-05-14     Friday   14      5    19        2  2021
19  20210515 2021-05-15   Saturday   15      5    19        2  2021
20  20210516 2021-05-16     Sunday   16      5    19        2  2021
21  20210517 2021-05-17     Monday   17      5    20        2  2021
22  20210518 2021-05-18    Tuesday   18      5    20        2  2021
23  20210519 2021-05-19  Wednesday   19      5    20        2  2021
24  20210520 2021-05-20   Thursday   20      5    20        2  2021
25  20210521 2021-05-21     Friday   21      5    20        2  2021
26  20210522 2021-05-22   Saturday   22      5    20        2  2021
27  20210523 2021-05-23     Sunday   23      5    20        2  2021
28  20210524 2021-05-24     Monday   24      5    21        2  2021
29  20210525 2021-05-25    Tuesday   25      5    21        2  2021
30  20210526 2021-05-26  Wednesday   26      5    21        2  2021
31  20210527 2021-05-27   Thursday   27      5    21        2  2021
32  20210528 2021-05-28     Friday   28      5    21        2  2021
33  20210529 2021-05-29   Saturday   29      5    21        2  2021
34  20210530 2021-05-30     Sunday   30      5    21        2  2021
35  20210531 2021-05-31     Monday   31      5    22        2  2021
36  20210601 2021-06-01    Tuesday    1      6    22        2  2021
37  20210602 2021-06-02  Wednesday    2      6    22        2  2021
38  20210603 2021-06-03   Thursday    3      6    22        2  2021
39  20210604 2021-06-04     Friday    4      6    22        2  2021
40  20210605 2021-06-05   Saturday    5      6    22        2  2021
41  20210606 2021-06-06     Sunday    6      6    22        2  2021

In [158]:
dum_df['week'].value_counts()

17    7
18    7
19    7
20    7
21    7
22    7
Name: week, dtype: Int64

In [184]:
if dum_df['week'].nunique() > 5:
    dum_df = dum_df[7:]
    dum_df = dum_df.reset_index(drop=True)

In [228]:
len(dum_df)

35

In [185]:
dum_df['week'].value_counts()

18    7
19    7
20    7
21    7
22    7
Name: week, dtype: Int64

In [245]:
dum_df = dum_df[['year', 'month', 'week', 'day', 'week_day']]

In [256]:
man_df = pd.read_excel('./mans.xlsx', engine='openpyxl')
man_df

,,월,화,수,목,금,토,일,주간,오전,...,야간,휴무,구분,주간시간,주간초과,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,1,2,3,4,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,채상진,NaN,휴무,NaN,휴무,NaN,NaN,NaN,0,0,...,0,2,채상진,0,0,NaN,NaN,NaN,주간,주간
2,홍성수,NaN,NaN,NaN,NaN,NaN,휴무,휴무,0,0,...,0,2,홍성수,0,0,NaN,NaN,NaN,주간,오전
3,김상엽,NaN,NaN,휴무,NaN,휴무,NaN,NaN,0,0,...,0,2,김상엽,0,0,NaN,NaN,NaN,오전,오전
4,이경준,NaN,휴무,NaN,NaN,NaN,휴무,NaN,0,0,...,0,2,이경준,0,0,NaN,NaN,NaN,NaN,오후
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,오전,0,0,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,오후,0,0,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,야간,0,0,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,휴무,2,2,4,0,2,2,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,a,a,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [251]:
man_list = man_df['name'].tolist()

for man in man_list:
    dum_df[man] = 0

In [257]:
dum_df

    year  month  week  day   week_day  채상진  홍성수  김상엽  이경준  장원혁  장익룡  이상희  임형하
0   2021      5    18    3     Monday    0    0    0    0    0    0    0    0
1   2021      5    18    4    Tuesday    0    0    0    0    0    0    0    0
2   2021      5    18    5  Wednesday    0    0    0    0    0    0    0    0
3   2021      5    18    6   Thursday    0    0    0    0    0    0    0    0
4   2021      5    18    7     Friday    0    0    0    0    0    0    0    0
5   2021      5    18    8   Saturday    0    0    0    0    0    0    0    0
6   2021      5    18    9     Sunday    0    0    0    0    0    0    0    0
7   2021      5    19   10     Monday    0    0    0    0    0    0    0    0
8   2021      5    19   11    Tuesday    0    0    0    0    0    0    0    0
9   2021      5    19   12  Wednesday    0    0    0    0    0    0    0    0
10  2021      5    19   13   Thursday    0    0    0    0    0    0    0    0
11  2021      5    19   14     Friday    0    0    0    0    0    0    0    0
12  2021      5    19   15   Saturday    0    0    0    0    0    0    0    0
13  2021      5    19   16     Sunday    0    0    0    0    0    0    0    0
14  2021      5    20   17     Monday    0    0    0    0    0    0    0    0
15  2021      5    20   18    Tuesday    0    0    0    0    0    0    0    0
16  2021      5    20   19  Wednesday    0    0    0    0    0    0    0    0
17  2021      5    20   20   Thursday    0    0    0    0    0    0    0    0
18  2021      5    20   21     Friday    0    0    0    0    0    0    0    0
19  2021      5    20   22   Saturday    0    0    0    0    0    0    0    0
20  2021      5    20   23     Sunday    0    0    0    0    0    0    0    0
21  2021      5    21   24     Monday    0    0    0    0    0    0    0    0
22  2021      5    21   25    Tuesday    0    0    0    0    0    0    0    0
23  2021      5    21   26  Wednesday    0    0    0    0    0    0    0    0
24  2021      5    21   27   Thursday    0    0    0    0    0    0    0    0
25  2021      5    21   28     Friday    0    0    0    0    0    0    0    0
26  2021      5    21   29   Saturday    0    0    0    0    0    0    0    0
27  2021      5    21   30     Sunday    0    0    0    0    0    0    0    0
28  2021      5    22   31     Monday    0    0    0    0    0    0    0    0
29  2021      6    22    1    Tuesday    0    0    0    0    0    0    0    0
30  2021      6    22    2  Wednesday    0    0    0    0    0    0    0    0
31  2021      6    22    3   Thursday    0    0    0    0    0    0    0    0
32  2021      6    22    4     Friday    0    0    0    0    0    0    0    0
33  2021      6    22    5   Saturday    0    0    0    0    0    0    0    0
34  2021      6    22    6     Sunday    0    0    0    0    0    0    0    0

In [248]:
week1 = dum_df[:7].T
week2 = dum_df[7:14].T
week3 = dum_df[14:21].T
week4 = dum_df[21:28].T
week5 = dum_df[28:].T

In [258]:
week1

               0        1          2         3       4         5       6
year        2021     2021       2021      2021    2021      2021    2021
month          5        5          5         5       5         5       5
week          18       18         18        18      18        18      18
day            3        4          5         6       7         8       9
week_day  Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
채상진            0        0          0         0       0         0       0
홍성수            0        0          0         0       0         0       0
김상엽            0        0          0         0       0         0       0
이경준            0        0          0         0       0         0       0
장원혁            0        0          0         0       0         0       0
장익룡            0        0          0         0       0         0       0
이상희            0        0          0         0       0         0       0
임형하            0        0          0         0       0         0       0